.active:hover, .active:focus, .active:active {
    background-color: #0d39a2;
    color: white;
}

div.nav {
    float:right;
    width: 100%;
}

.navi {
    list-style-type: none;
    margin: 0;
    padding: 30px;
    overflow: hidden;
    background-color: white;
    text-align: center;
}

    .navi li {
        font-weight: 100;
        display: inline-table;
        color: black;
        padding: 15px 20px 0 10px;
        text-decoration: none;
        font-size: 35px;
        text-align: center
    }

    .navi a {
        text-decoration: none;
        display: block;
        padding: 14px 16px;
    }

.project {
    display: flex;
    list-style-type: none;
      margin: 0;
    padding: 30px;

    justify-content: space-evenly;
    overflow: hidden;
    background-color: white;
    text-align: center;
}

.project li {
    display: inline-table;
    color: white;
    padding: 15px 20px 0 10px;
    text-decoration: none;
    font-size: 25px;
    text-align: center
}

.project a {
    text-decoration: none;
    display: block;
    padding: 14px 16px;
}