body {
    background-color: whitesmoke;
}

html {
    font-family: Calibri,Arial,sans-serif;
    height: 100%;
}


.personal {
    max-width: 100%;
    height: auto;
    position: center;
    padding-top: 2em;
}

